<h2>New Shortened URL</h2>

<%= form_for @url do |f| %>
  <%= f.label "Enter url here:" %>
  <br>
  <%= f.text_field :url_long %>
  <br>
  <%= f.hidden_field :url_short, value: @url_short %>
  <%= f.submit "Generate short" %>
<% end %>
